//! Home Meals

.recipe-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
  padding: 40px;
  justify-content: center;
  margin-top: 50px;
  
}

.recipe-card {
  background: #ffffff;
  border-radius: 19px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: visible;
  width: 250px;
  text-align: center;
  background-color: #f8f5f0;
  padding-top: 120px; // مساحة عشان الصورة تطلع منها
  position: relative;
  margin-bottom: 80px;
  


  &__image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    position: absolute;
    top: -60px;
    left: 50%;
    transform: translateX(-50%);
    transition: transform 0.5s ease-in-out;
    z-index: 1;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    background-color: white;
  }

  &__image:hover {
    transform: translateX(-50%) rotate(360deg);
  }

  &__content {
    padding: 10px;
    padding-top: 0;
    position: relative;
    z-index: 0;
  }

  &__title {
    font-size: 20px;
    font-weight: 600;
    color: #333;
    margin: 0 0 5px;
  }

  &__area {
    font-size: 1rem;
    color: #10b981;
    margin: 0 0 10px;
  }
  &__category {
    font-size: 1rem;
    color: #10b981;
    margin: 0 0 10px;
  }

  &__button {
    background-color: #10b981;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;

    &:hover {
      background-color: #059669;
    }
  }

  &:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;

    .recipe-card__image {
      transform: translateX(-50%) rotate(360deg);
    }
  }
}

//! Meal Details Page
.mealdetails_content {
  display: flex;
  flex-direction: column;
  padding: 40px;

  .mealdetails_title {
    font-family: pacifico, cursive;
    font-size: 48px;
    font-weight: 600;
    color: black;
    text-align: start;
  }
  // .recipe-card__image{
  //   border-radius: 50%;
  //   width: 300px;
  // }
  .mealdetails_toggle{
    color: #f29724;
    font-weight: bold;
    &:hover {
      text-decoration: none;
    }
  }
  .mealdetails_ingredient{
    border-color: #f29724;

  }
  .mealdetails_subtitle {
    font-size: 24px;
    font-weight: 600;
    color:#f29724 ;
    margin: 5px 0;
  }
}
